<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8">
		<title>Example 5</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="js/three.min.js"></script>
		<script type="text/javascript" src="js/OrbitControls.js"></script>
		<link rel="stylesheet" type="text/css" href="styles/styles.css" media="screen">
	</head>
	<body>
	</body>
	<script type="text/javascript">
		// Create the three.js scene
		var scene = new THREE.Scene();

		// Create the renderer for the scene
		var renderer = new THREE.WebGLRenderer({ antialias: true });
		
		// Set the renderers size
		renderer.setSize( window.innerWidth, window.innerHeight );

		// Set the background color of the renderer. Create a custom color with a Hex value.
        renderer.setClearColor(new THREE.Color("#4099FF"));

        // Append the renderer to the document
		document.body.appendChild(renderer.domElement);

		// Create a camera, in this case a perspective camera
		var camera = new THREE.PerspectiveCamera(75, window.innerWidth/window.innerHeight, 0.1, 1000 );

		// Set the x/y/z position of the camera
		camera.position.x = 1;
		camera.position.y = 1;
		camera.position.z = 2;

		// Set the location  x/y/z position the camera should look at
		camera.lookAt(new THREE.Vector3(0, 0, 0));

		var controls = new THREE.OrbitControls( camera );
		controls.minDistance = 0;
		controls.maxDistance = 100;
		controls.update();

		// Create a directional light so objects in the scene can be seen
		var directionalLight1 = new THREE.DirectionalLight(new THREE.Color("#FFFFFF"), 0.8),
			directionalLight2 = new THREE.DirectionalLight(new THREE.Color("#FFFFFF"), 0.8),
			directionalLight3 = new THREE.DirectionalLight(new THREE.Color("#FFFFFF"), 0.8),
			directionalLight4 = new THREE.DirectionalLight(new THREE.Color("#FFFFFF"), 0.8); 

		// Set the x/y/z poition of the directional light
		directionalLight1.position.set(3, 3, 3);
		directionalLight2.position.set(-3, 3, 3); 
		directionalLight3.position.set(3, -3, -3); 
		directionalLight4.position.set(-3, -3, -3); 

		// Add the light to the scene
		scene.add(directionalLight1);
		scene.add(directionalLight2);
		scene.add(directionalLight3);
		scene.add(directionalLight4);

		// Create a box geometry using the three.js object
		var boxGeometry = new THREE.BoxGeometry(1, 1, 1);

		// Generate the texture loader
		var textureLoader = new THREE.TextureLoader();

		// Create the array of materials to be applied to the faces of the cube
		var materials = [
			new THREE.MeshLambertMaterial({ 
				map: textureLoader.load("images/1.jpg"),
				side:THREE.DoubleSide 
			}),
			new THREE.MeshLambertMaterial({ 
				map: textureLoader.load("images/2.jpg"),
				side:THREE.DoubleSide 
			}),
			new THREE.MeshLambertMaterial({ 
				map: textureLoader.load("images/3.jpg"),
				side:THREE.DoubleSide 
			}),
			new THREE.MeshLambertMaterial({ 
				map: textureLoader.load("images/4.jpg"),
				side:THREE.DoubleSide 
			}),
			new THREE.MeshLambertMaterial({ 
				map: textureLoader.load("images/5.jpg"),
				side:THREE.DoubleSide 
			}),
			new THREE.MeshLambertMaterial({ 
				map: textureLoader.load("images/6.jpg"),
				side:THREE.DoubleSide 
			})
		];

		// Create the box mesh using the geometry and material
		var boxMesh = new THREE.Mesh(boxGeometry, materials);

		// Add the box to the scene
		scene.add(boxMesh);

		// Creates the render function and this will call itself recursively
		var render = function () {
			requestAnimationFrame( render );

			renderer.render(scene, camera);
		};

		// Starts the rendering
		render();

		// Add a resize event to the window so the scene resizes if the window changs size
		window.addEventListener( 'resize', function() {
			camera.aspect = window.innerWidth / window.innerHeight;
		    camera.updateProjectionMatrix();

		    renderer.setSize(window.innerWidth, window.innerHeight);
		}, false);
	</script>
</html>